---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About me page"
	pubDate={new Date('April 06 2024')}
	heroImage="/about.webp"
>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nihil quasi, voluptatibus quod rem laudantium corporis commodi dolorem possimus tenetur repudiandae quo architecto quam ipsum ratione alias vel ullam cupiditate.
	</p>

</Layout>
